{{ form_start(form) }}
    <div class="container">
        {% if form|length >= 2 %}
            <table class="table">
                <thead>
                <tr>
                    <th>Libelle</th>
                    <th>Jour</th>
                    <th>Montant</th>
                </tr>
                </thead>
                <tbody>
                    {% for i in 0..form|length-2 %}
                        <tr>
                            <td>{{ form_row(form[i].libelle, {'attr':{'class':'form-control'}}) }}</td>
                            <td>{{ form_row(form[i].date, {'date_pattern': '<span style="display: none;">{{ year }} {{ month }}</span> {{ day }}'}) }}</td>
                            <td>{{ form_row(form[i].montant, {'attr':{'class':'form-control'}}) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <button class="btn btn-outline-success">{{ button_label|default('Modifier') }}</button>
        {% else %}
            <p>Pas de ligne frais hors forfait !</p>
        {% endif %}

        <a class="btn btn-outline-danger" href="{{ path('fiche_frais_index') }}">Retour aux fiches</a>
    </div>

{{ form_end(form) }}
