{% extends 'base.html.twig' %}

{% block title %}FicheFrais{% endblock %}

{% block body %}
    <div class="pt-5">
        <h1 class="pt-5">Mes Fiche de Frais</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Mois</th>
                    <th>Nombre de Justificatifs</th>
                    <th>Etat</th>
                    <th>Montant</th>
                    <th>Date modif.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ fiche_frai.mois|date('Y-m') }}</td>
                    <td>{{ fiche_frai.nbJustificatifs }}</td>
                    <td>{{ fiche_frai.etat.libelle }}</td>
                    <td>{{ fiche_frai.montantValide }}</td>
                    <td>{{ fiche_frai.dateModif ? fiche_frai.dateModif|date('Y-m-d') : '' }}</td>
                    <td>{{ fiche_frai.motifRefus }}</td>
                    <td><a class="btn btn-outline-danger" href="{{ path('fiche_frais_edit', {'id': fiche_frai.id}) }}">Modifier</a></td>
                </tr>
            </tbody>
        </table>
    </div>



    {{ include('fiche_frais/_delete_form.html.twig') }}
{% endblock %}
