{{ form_start(form) }}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                   <th>Nom</th>
                   <th>Quantité</th>
                   <th>Montant</th>
                </tr>
            </thead>
            <tbody>
            {% for i in 0..3 %}
                <tr>
                    <td>{{ form_row(form[i].fraisForfait.libelle, {'attr':{'class':'form-control'}}) }}</td>
                    <td>{{ form_row(form[i].quantite, {'attr':{'class':'form-control'}}) }}</td>
                    <td>{{ form_row(form[i].fraisForfait.montant, {'attr':{'class':'form-control'}}) }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <button class="btn btn-outline-danger">{{ button_label|default('Modifier') }}</button>
    </div>
{{ form_end(form) }}

